<a href="https://colab.research.google.com/github/walesson98/Python_Studies/blob/main/Basic/Exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
## Exercício Python #002 - Respondendo ao Usuário

In [8]:
nome = input('Digite seu nome: ')
print('É um prazer te conhecer {}!'.format(nome))

Digite seu nome: walesson
É um prazer te conhecer walesson!

In [9]:
## Exercício Python #003 - Somando dois números

In [17]:
a = int(input('Digite um número: '))
b = int(input('Digite outro núemro:'))

soma = a+b
print('A soma entre {} e {} é igual a: {}!'.format(a,b,soma))

Digite um número: 10
Digite outro núemro:10
A soma entre 10 e 10 é igual a: 20!

In [12]:
## Exercício Python #004 - Dissecando um variável

In [26]:
a = input('Digite algo ')
print('O tipo primitivo desse valor é ', type(a))
print('Só tem espaços?', a.isspace())
print('É número? ', a.isnumeric())
print('É alfabético? ', a.isalpha())
print('É alfanumérico? ', a.isalnum())
print('Está em maiúscula? ', a.isupper())
print('Está em minúscula? ', a.islower())

Digite algo PYTHON
O tipo primitivo desse valor é  <class 'str'>
Só tem espaços? False
É número?  False
É alfabético?  True
É alfanumérico?  True
Está em maiúscula?  True
Está em minúscula?  False

In [27]:
## Exercício Python #005 - Antecessor e Sucessor

In [28]:
n = int(input('Digite um número: '))
a = n - 1
s = n + 1
print('Anaalisando o valor {}, seu antecessor é {} e o sucessor é {}'.format(n,a,s))

Digite um número: 10
Anaalisando o valor 10, seu antecessor é 9 e o sucessor é 11

In [29]:
## Exercício Python #006 - Dobro, Triplo, Raiz Quadrada

In [34]:
n = int(input('Digite um número: '))
d = n * 2
t = n * 3
r = n**(1/2)
print('O dobro de {} vale {}.'.format(n, d))
print('O triplo de {} vale {}.'.format(n, t))
print('A raiz quadrada de {} é {:.2f}.' .format(n, r))

Digite um número: 20
O dobro de 20 vale 40.
O triplo de 20 vale 60.
A raiz quadrada de 20 é 4.47.

In [36]:
## Exercício Python #007 - Média

In [37]:
n1 = int(input('Digite sua primeira nota: '))
n2 = int(input('Digite sua segunda nota: '))
m = (n1+n2)/2
print('A média de {} e {} é igual a: {:.2f}' .format(n1, n2, m))

Digite sua primeira nota: 9
Digite sua segunda nota: 8
A média de 9 e 8 é igual a: 8.50

In [38]:
## Exercício Python #008 - Conversor de Medidas

In [39]:
medida = float(input('Digite uma disntacia em metros: '))
cm = medida * 100
mm = medida * 1000
print('A medida de {}m corresponde a {}cm e {}mm' .format(medida, cm, mm))

Digite uma disntacia em metros: 10
A medida de 10.0m corresponde a 1000.0cm e 10000.0mm

In [40]:
## Exercício Python #009 - Tabuada

In [43]:
num = int(input('Digite um numero para ver a tabuada: '))
print('{} x {} = {}' .format(num, 1 , num*1))
print('{} x {} = {}' .format(num, 2 , num*2))
print('{} x {} = {}' .format(num, 1 , num*3))
print('{} x {} = {}' .format(num, 1 , num*4))
print('{} x {} = {}' .format(num, 1 , num*5))
print('{} x {} = {}' .format(num, 1 , num*6))
print('{} x {} = {}' .format(num, 1 , num*7))
print('{} x {} = {}' .format(num, 1 , num*8)) 
print('{} x {} = {}' .format(num, 1 , num*9))
print('{} x {} = {}' .format(num, 1 , num*10))

Digite um numero para ver a tabuada: 2
2 x 1 = 2
2 x 2 = 4
2 x 1 = 6
2 x 1 = 8
2 x 1 = 10
2 x 1 = 12
2 x 1 = 14
2 x 1 = 16
2 x 1 = 18
2 x 1 = 20

In [44]:
## Exercício Python #010 - Conversor de moedas

In [55]:
real = float(input('Digite o valor que queira converter: '))
dolar = real/5.19
print('O valor convertido em Dolar é: ${:.2f}'.format(dolar))

Digite o valor que queira converter: 100
O valor convertido em Dolar é: $19.27

In [56]:
## Exercício Python #011 - Pintando Parede

In [67]:
largura = float(input('Digite a largura da parede: '))
altura = float(input('Digite a altura da parede: '))
area = (largura * altura)
print('Sua parede tem a dimensão de {}x{} é {:.0f}m²' .format(largura, altura, area))
tinta = area /2
print('Você irá precisar de {}L de tinta.'.format(tinta))

Digite a largura da parede: 8
Digite a altura da parede: 8
Sua parede tem a dimensão de 8.0x8.0 é 64m²
Você irá precisar de 32.0L de tinta.

In [68]:
## Exercício Python #012 - Desconto

In [74]:
valor = float(input('Digite o valor total: R$ '))
desconto = float(input('Digite o desconto ofertado: '))
valorFinal = valor - (valor * desconto / 100)
print('O produto que custava R${:.2f}, na promoção com desconto de {:.0f}%, saiu por: R${:.2f}' .format(valor, desconto, valorFinal))

Digite o valor total: R$ 200
Digite o desconto ofertado: 10
O produto que custava R$200.00, na promoção com desconto de 10%, saiu por: R$180.00

In [75]:
## Exercício Python #013 - Aumento Salarial

In [79]:
salario = float(input('Digite o salário: R$'))
aumento = float(input('Digite o aumento: '))
valorFinal = salario + (salario * aumento / 100)
print('Seu salário antigo é de R${:.2f}, você teve um aumento de {:.0f}%, saiu por R${:.2f}' . format(salario, aumento, valorFinal))

Digite o salário: R$3000
Digite o aumento: 7
Seu salário antigo é de R$3000.00, você teve um aumento de 7%, saiu por R$3210.00

In [80]:
## Exercício Python #014 - Conversor de temperaturas

In [82]:
c = float(input('Informe a temperatura em °C: '))
f = ((9*c)/5)+32
print('A temperatura de {}°C corresponde a {}°F' .format(c, f))

Informe a temperatura em °C: 40
A temperatura de 40.0°C corresponde a 104.0°F

In [84]:
## Exercício Python #015 - Aluguel de carros

In [86]:
dias = int(input('Quantos dias alugados? '))
km = int(input('Quantos km rodados? '))
valor = ((dias * 60) + (km * 0.15))
print('O total a pagar é de R${:.2f}' .format(valor))

Quantos dias alugados? 5
Quantos km rodados? 300
O total a pagar é de R$345.00

In [1]:
## Exercício Python #016 - Quebrando um número

In [6]:
from math import trunc

In [9]:
#num = float(input('Digite um valor: '))
#print('O valor digitado é {} e sua porção inteira é {}'.format(num, trunc(num)))

num = float(input('Digite um valor: '))
print('O valor digitado é {} e sua porção inteira é {}'.format(num, int(num)))

Digite um valor: 825.555
O valor digitado é 825.555 e sua porção inteira é 825

In [10]:
## Exercício Python #017 - Catettos e Hipotenusa

In [13]:
import math

In [17]:
co = float(input('Comprimento do cateto oposto: '))
ca = float(input('Comprimento do cateto adjacente : '))
#hi = (co** 2 + ca **2) ** (1/2)
#print('A hipotenusa vai medir: {:.2f}'.format(hi))


hi = math.hypot(co, ca)
print('A hipotenusa vai medir: {:.2f}' .format(hi))

Comprimento do cateto oposto: 85
Comprimento do cateto adjacente : 74
A hipotenusa vai medir: 112.70

In [18]:
## Exercício Python #018 - Seno, cosseno e Tangente

In [26]:
from math import sin, cos, tan, radians

In [27]:
an = float(input('Digite o angulo que deseja: '))
s = sin(radians(an))
print('O ângulo de {} tem o SENO de {:.2f}'.format(an, s))
c = cos(radians(an))
print('O ângulo de {} tem o Consseno de {:.2f}'.format(an, c))
t = tan(radians(an))
print('O ângulo de {} tem o Tangente de {:.2f}'.format(an, t))

Digite o angulo que deseja: 30
O ângulo de 30.0 tem o SENO de 0.50
O ângulo de 30.0 tem o Consseno de 0.87
O ângulo de 30.0 tem o Tangente de 0.58

In [28]:
## Exercício Python #019 - Sorteando um item na lista

In [30]:
import random

In [36]:
n1 = input('Digite o 1º nome: ')
n2 = input('Digite o 2º nome: ')
n3 = input('Digite o 3º nome: ')
n4 = input('Digite o 4º nome: ')
lista = [n1, n2, n3, n4]
sorteio = random.choice(lista)
print(sorteio)

Digite o 1º nome: gabi
Digite o 2º nome: josi
Digite o 3º nome: leici
Digite o 4º nome: leni
leici

In [37]:
## Exercício Python #020 - Sorteando uma ordem na lista

In [39]:
from random import shuffle

In [44]:
n1 = str(input('Primeiro nome: '))
n2 = str(input('Segundo nome: '))
n3 = str(input('Terceito nome: '))
n4 = str(input('Quarto nome: '))
lista = [n1, n2, n3, n4]
random.shuffle(lista)
print('A ordem do sorteio será: {}'.format(lista))

Primeiro nome: jose
Segundo nome: pedro
Terceito nome: vitor
Quarto nome: carlos
A ordem do sorteio será: ['carlos', 'jose', 'pedro', 'vitor']